/* Universal styles */

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(169, 169, 169, 50%);
  color: rgb(9, 112, 17);
}

a {
  text-decoration: none;
  color: rgb(9, 112, 17);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-top: 0.5rem;
}
h4 {
  margin-top: 0.5rem;
}
h5 {
  margin-top: 0.5rem;
}
p {
  color: black;
}
/* Navigation Bar */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
}

.nav-bar li {
  font-weight: 700;
  font-size: 1.5rem;
  list-style: none;
  margin: 0.5rem;
}

/* About me section */

.section-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.about-me {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: space-between;
  left: -250px;
  width: 30%;
  padding: 2rem;
  margin-right: 10rem;
}

.profile-pic {
  visibility: hidden; /*Hiiden while working on the project, makes me uncomfortable looking at myself while working */
  width: 250px;
  height: 250px;
  object-fit: scale-down;
}

/* Project section */

.project-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  margin: 1rem;
  width: 450px;
}

.website-image {
  width: 400px;
  height: 300px;
  object-fit: scale-down;
}

.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.project-card ul {
  margin-top: 0.5rem;
}
.project-card li {
  margin-left: 1.5rem;
  list-style-type: circle;
}
